@import "@/app/themes/default/daisyui/light.css";
@import "@/app/themes/default/daisyui/dark.css";
@import "@/app/themes/default/daisyui/cupcake.css";
@import "@/app/themes/default/daisyui/bumblebee.css";
@import "@/app/themes/default/daisyui/emerald.css";
@import "@/app/themes/default/daisyui/corporate.css";
@import "@/app/themes/default/daisyui/synthwave.css";
@import "@/app/themes/default/daisyui/retro.css";
@import "@/app/themes/default/daisyui/cyberpunk.css";
@import "@/app/themes/default/daisyui/valentine.css";
@import "@/app/themes/default/daisyui/halloween.css";
@import "@/app/themes/default/daisyui/garden.css";
@import "@/app/themes/default/daisyui/forest.css";
@import "@/app/themes/default/daisyui/aqua.css";
@import "@/app/themes/default/daisyui/lofi.css";
@import "@/app/themes/default/daisyui/pastel.css";
@import "@/app/themes/default/daisyui/fantasy.css";
@import "@/app/themes/default/daisyui/wireframe.css";
@import "@/app/themes/default/daisyui/black.css";
@import "@/app/themes/default/daisyui/luxury.css";
@import "@/app/themes/default/daisyui/dracula.css";
@import "@/app/themes/default/daisyui/cmyk.css";
@import "@/app/themes/default/daisyui/autumn.css";
@import "@/app/themes/default/daisyui/business.css";
@import "@/app/themes/default/daisyui/acid.css";
@import "@/app/themes/default/daisyui/lemonade.css";
@import "@/app/themes/default/daisyui/night.css";
@import "@/app/themes/default/daisyui/coffee.css";
@import "@/app/themes/default/daisyui/winter.css";
@import "@/app/themes/default/daisyui/dim.css";
@import "@/app/themes/default/daisyui/nord.css";
@import "@/app/themes/default/daisyui/sunset.css";
@import "@/app/themes/default/daisyui/caramellatte.css";
@import "@/app/themes/default/daisyui/abyss.css";
@import "@/app/themes/default/daisyui/silk.css";
