@import "./light.css";
@import "./dark.css";
@import "./cupcake.css";
@import "./bumblebee.css";
@import "./emerald.css";
@import "./corporate.css";
@import "./synthwave.css";
@import "./retro.css";
@import "./cyberpunk.css";
@import "./valentine.css";
@import "./halloween.css";
@import "./garden.css";
@import "./forest.css";
@import "./aqua.css";
@import "./lofi.css";
@import "./pastel.css";
@import "./fantasy.css";
@import "./wireframe.css";
@import "./black.css";
@import "./luxury.css";
@import "./dracula.css";
@import "./cmyk.css";
@import "./autumn.css";
@import "./business.css";
@import "./acid.css";
@import "./lemonade.css";
@import "./night.css";
@import "./coffee.css";
@import "./winter.css";
@import "./dim.css";
@import "./nord.css";
@import "./sunset.css";
@import "./caramellatte.css";
@import "./abyss.css";
@import "./silk.css";
