@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@import "@/app/themes/index.css";

:root {
  --navbar-height: 4.5rem;
  --sidebar-width: 14rem;
  --music-player-height: 4rem;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
}
