@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}
@import "./themes/index.css";

:root {
    --navbar-height: 4rem;
    --sidebar-width: 14rem;
    --music-player-height: 4rem;
}

@theme {
    --font-roboto: "Roboto", sans-serif;
}
