@import "tailwindcss";
@import "./themes/index.css";

:root {
    --navbar-height: 5rem;
    --sidebar-width: 14rem;
}

@theme {
    --font-roboto: "Roboto", sans-serif;
}

@plugin "daisyui" {
    themes: all;
}
